In [12]:
import pandas as pd

arquivo = 'planilha_organizador_financeiro.xlsx'

df = pd.read_excel(arquivo)
df = pd.DataFrame(df)
df

     usuario              nome  receita  despesa   0
0    adriana           mercado        0   140.34 NaN
1  alexandro              bico     1800     0.00 NaN
2  alexandro  bolinho no farol      500     0.00 NaN
3  alexandro  jogo playstation        0   450.00 NaN

In [13]:

valor_procurado = input("Nome do registro a atualizar: ").casefold()

# retorna linha do valor procurado
filtro = df['nome'].str.casefold() == valor_procurado

usuario = 'marcos'
item = 'pirulito'
valor_receita = 500
valor_despesa = 0

df.loc[filtro, ['usuario', 'nome', 'receita', 'despesa']] = [usuario, item, valor_receita, valor_despesa]
df

     usuario              nome  receita  despesa   0
0    adriana           mercado        0   140.34 NaN
1  alexandro              bico     1800     0.00 NaN
2  alexandro  bolinho no farol      500     0.00 NaN
3     marcos          pirulito      500     0.00 NaN

In [36]:
valor_procurado = 'jogo playstation'

procura_valor = df[df['nome'].str.casefold() == valor_procurado]


receita = int(procura_valor['receita'][1])
despesa = int(procura_valor['despesa'][1])

if receita > 0:
    print('Receita funciona')
elif receita == 0:
    print("Despesa funciona")
else:
    print("Sem valor")

KeyError: 1